name: Generate Changelog

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-changelog:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Changelog & Bump Version
        uses: TriPSs/conventional-changelog-action@v3
        id: changelog
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: "CHANGELOG.md"
          version-file: "./package.json"
          git-message: "docs: update changelog to {version} [skip ci]"

      - name: Commit and Push changes

        if: steps.changelog.outputs.skipped == 'false'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.ref }}
          file_pattern: "CHANGELOG.md package.json"